<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="xamarinios10" />
  <package id="Zebble" version="4.1.307" targetFramework="xamarinios10" />
  <package id="Zebble.CheckBox" version="1.22.109" targetFramework="xamarinios10" />
  <package id="Zebble.ListView" version="3.17.134" targetFramework="xamarinios10" />
</packages>